/* The Modal (background) */
.amarillo
{
	color: yellow;
}

.green
{
	color: #574689;
}

.modal 
{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 10px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content 
{
	background-color: white;
	margin: auto;
	padding: 0px;
	width: 800px;
	/*opacity: 0.2;*/
}

