/* CSS Document */

.seemTable
 {
    padding: 1px 1px 1px 1px; 
    clear : both;
}

.seemTr2
 {
    padding: 5px 5px 5px 5px; 
    clear : both;
}

.margen0
 {
    margin: 0 auto;
}

.enlaceBoton
 {
	padding: 2px; 
	border-left:1px solid #EEF1F5; 
	border-right:1px solid #EEF1F5; 
	border-top:1px solid #1E3F71; 
	border-bottom:1px solid #1E3F71;  
	text-align: center; 
	
}

.enlaceBoton:hover
 {
 	text-decoration: none;
}

/* Color verde, util para destacar*/
.verde,.verde a:link,.verde a:visited,a:link.verde,a:visited.verde{color:#29A092;background: inherit;}

/* Color verde, util para destacar*/
.azul,.azul a:link,.azul a:visited,a:link.azul,a:visited.azul{color:#0000FF;background: inherit;}

/*Fondo Rojo*/
.fondoRojo {background-color: #FFE7E7;}

/*Fondo amarillo*/
.fondoAmarillo {background-color: #FFFFE0;}

/*Fondo verde*/
.fondoVerde {background-color: #E2EAD1;}

/*respetaSaltoLinea*/
.respetaSaltoLinea{white-space: pre-wrap;}