
.portadaTabla {
	display: table;
	margin: 0 auto;
	width: 100%;
}

.portadaFila {
    display: table-row;
}

.portadaColumna {
    display: table-cell;
    vertical-align: top;
}

.portadaTitulo {
	font-size: 1.6em;
}

.portadaTextfield {
	height: 25px;
	width: 95%;
	font-size: 16px;
	padding: 3px;
	margin-top: 3px;
}

.portadaBoton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	background-color:#ffffff;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #eef1f5;
	display:inline-block;
	color:#1e3f71;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:35px;
	width:130px;
	text-decoration:none;
	text-align:center;
}

.portadaBoton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	background-color:#ffffff;
}

.portadaBoton:active {
	position:relative;
	top:1px;
}